<div class="container">
  <h1 class="title">
    {{ "PAGES.HOME.TITLE" | translate }}
  </h1>

  <a routerLink="/test-tcp">测试TCP/IP连接</a>
  <a routerLink="/test-usb">测试USB接口</a>
  <a routerLink="/test-file">测试文件读取（选取文件）</a>
  <div>
    <h3>测试直接打开本地文件管理</h3>
    <input type="text" placeholder="请输入要打开的文件夹" [(ngModel)]="path" />
    <button (click)="openFileManagement()">打开文件管理器</button>
  </div>
  <div>
    <h3>测试在弹出窗口打开在线链接</h3>
    <input type="text" placeholder="请输入要打开的链接" [(ngModel)]="url" />
    <button (click)="openUrlWithPopwindow()">在新窗口打开</button>
  </div>
  <div>
    <h3>测试弹出系统级弹窗</h3>
    <input type="text" placeholder="请输入提醒的文字" [(ngModel)]="noticeMsg" />
    <button (click)="openNotice()">打开系统通知</button>
  </div>
</div>
